.Board {
  // width: 60rem;
  // height: 60rem;
  margin: auto;
  text-align: center;

  &__board {
  }

  h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 8rem;
    font-weight: 400;
    text-shadow: 0.5rem 0.5rem 0.7rem rgba($color-secondary-dark,0.3);
    color: $color-secondary-dark;
  }
}
